@media (max-width: 414px) {
  .cabecalho .logo {
    width: 8.5rem;
    top: 1em;
    left: 4%;
  }

  .logo {
    width: 8rem;
    top: 1em;
  }

  .i1 {
    visibility: hidden;
  }

  .i2 {
    visibility: hidden;
  }

  .i3 {
    visibility: hidden;
  }

  .i4 {
    visibility: hidden;
  }

  .lupa {
    width: 1.5rem;
    left: 89%;
  }

  .um {
    height: 100vh;
  }

  #dia {
    top: 4.5rem;
    left: 4%;
    font-size: 1.9rem;
  }

  .saudacao {
    top: 7rem;
    left: 5%;
    font-size: 1.2rem;
  }

  .weather {
    top: 5rem;
    left: 93%;
    font-size: 0.8rem;
  }

  q {
    left: 7.2%;
    top: 12rem;
    font-size: 1.1rem;
  }

  p {
    top: 15.3rem;
    left: 15.5%;
    font-size: 1rem;
  }

  .guts {
    width: 14rem;
    top: 26rem;
    left: 38%;
  }

  .dois {
    height: 145vh;
  }

  .musica {
    top: 52rem;
    left: 32%;
  }

  .ozzy {
    width: 25.8rem;
    top: 57rem;
    left: 0;
  }

  .top3 {
    font-size: 1.6rem;
    top: 78rem;
    left: 40%;
  }

  .ana {
    top: 35.7rem;
    left: 4%;
    width: 7.5rem;
  }

  .ozzy1 {
    top: 24.5rem;
    left: 35%;
    width: 8rem;
  }

  .mon {
    top: 17.6rem;
    left: 68%;
    width: 7rem;
  }

  .a_mais {
    font-size: 1.4rem;
    top: 95rem;
    left: 4%;
  }

  .mais_ouvida {
    top: 98rem;
    left: 4%;
    width: 5.5rem;
  }

  .s-artista1 {
    top: 104.2rem;
    left: 4%;
  }

  .s-musica {
    top: 105.2rem;
    left: 4%;
  }

  .spotify {
    top: -5.2rem;
    margin-left: 0.1rem;
  }

  .s-spotify {
    top: 102.4rem;
    left: 44%;
  }

  .h-headbanger {
    font-size: 1.4rem;
    top: 95rem;
    left: 60%;
  }

  .img_headbanger {
    top: 98rem;
    left: 73%;
    width: 5.5rem;
  }

  .s-playlist {
    top: 104.5rem;
    left: 78%;
  }

  .ultimo_disco {
    font-size: 1.4rem;
    top: 108rem;
    left: 4%;
  }

  .last_disc {
    top: 112rem;
    left: 4%;
    width: 8rem;
  }

  .s-artista {
    top: 120.6rem;
    left: 4%;
  }

  .s-disc_name {
    top: 121.6rem;
    left: 4%;
  }

  .rollingstone {
    top: 108rem;
    left: 45%;
    width: 13rem;
  }

  .tmdqa {
    top: 113rem;
    left: 55%;
    width: 9rem;
  }

  .tres {
    height: 120vh;
  }

  .manga {
    top: 129rem;
    left: 29%;
  }

  .banner {
    width: 25.8rem;
    top: 135rem;
    left: 0;
  }

  .mangalivre {
    top: 153.1rem;
    left: 26.2%;
  }

  .s-mangalivre {
    top: 158rem;
    left: 26%;
  }

  .yes_mangas {
    top: 153.1rem;
    left: 54.8%;
  }

  .s-yes_mangas {
    top: 158rem;
    left: 53%;
  }

  .berserk {
    width: 11rem;
    top: 162rem;
    left: 4%;
  }

  .claymore {
    width: 11rem;
    top: 163rem;
    left: 55%;
  }

  .snk {
    width: 11rem;
    top: 172rem;
    left: 4%;
  }

  .kny {
    width: 11rem;
    top: 166.2rem;
    left: 55%;
  }

  .cdz {
    width: 11rem;
    top: 179rem;
    left: 5%;
  }

  .rurouni_kenshin {
    width: 11rem;
    top: 179rem;
    left: 55%;
  }

  .quatro {
    width: 100%;
    height: 160vh;
  }

  .mirai {
    top: 196rem;
    left: 0;
    width: 25.8rem;
  }

  .anime {
    top: 189rem;
    left: 33%;
  }

  .superanimes {
    top: 233rem;
    left: 41%;
  }

  .s-superanimes {
    top: 238rem;
    left: 38%;
  }

  .continue {
    top: 241.5rem;
    left: 23%;
  }

  .watching1 {
    width: 12rem;
    top: 243rem;
    left: 4%;
  }

  .watching2 {
    width: 12rem;
    top: 243rem;
    left: 40%;
  }
}
