* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Fixed Header */

.cabecalho {
  z-index: 10;
  background: #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100vw;
}

.cabecalho--fixo {
  width: 100vw;
  height: 3.7rem;
  top: 0%;
  left: 0;
  position: fixed;
  box-shadow: 0px 0px 0px 1px #00131a;
}

/* Logo */

.cabecalho .logo {
  width: 9.3rem;
  top: 1em;
  left: 10%;
  position: absolute;
}

.i1 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 45%;
  position: absolute;
}

.i2 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 50%;
  position: absolute;
}

.i3 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 55%;
  position: absolute;
}

.i4 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 60%;
  position: absolute;
}

.lupa {
  width: 1.7rem;
  top: 1rem;
  left: 86%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.lupa:hover {
  transform: scale(1.1);
}

body {
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#122549),
    to(#ff7c60)
  );
  overflow-x: hidden;
}

.um {
  height: 100vh;
  width: 100vw;
}

#dia {
  font-size: 2.5rem;
  font-weight: 600;
  top: 5rem;
  left: 10%;
  position: absolute;
  visibility: hidden;
}

.saudacao {
  font-size: 1.3rem;
  color: #fff;
  top: 8rem;
  left: 10.4%;
  position: absolute;
  visibility: hidden;
}

.weather {
  position: absolute;
  top: 5rem;
  left: 87%;
  color: #000000;
  text-align: left;
  text-align: right;
}

q {
  color: #fff;
  left: 16%;
  top: 14.5rem;
  position: absolute;
  font-size: 1.4rem;
  font-style: italic;
}

p {
  color: #000000;
  top: 18.5rem;
  left: 20%;
  font-size: 1.2rem;
  position: absolute;
}

.guts {
  position: absolute;
  width: 17rem;
  top: 13rem;
  left: 60%;
  transition: all 0.3s ease-in-out;
}

.guts:hover {
  transform: scale(1.05);
}

.dois {
  height: 215vh;
  width: 100vw;
}

.musica {
  left: 44%;
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.musica:hover {
  color: #fff;
}

.ozzy {
  width: 33rem;
  left: 30%;
  top: 47rem;
  position: absolute;
}

.top3 {
  top: 73rem;
  left: 46.5%;
  color: #000000;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.top3:hover {
  color: #fff;
}

.ana {
  top: 41.2rem;
  left: 4%;
  width: 5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ana:hover {
  transform: scale(1.03);
}

.ozzy1 {
  top: 26rem;
  left: 43%;
  width: 6rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ozzy1:hover {
  transform: scale(1.03);
}

.mon {
  top: 16.2rem;
  right: 13%;
  width: 5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.mon:hover {
  transform: scale(1.03);
}

.a_mais {
  top: 95rem;
  left: 28%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.a_mais:hover {
  color: #fff;
}

.mais_ouvida {
  top: 98rem;
  left: 28%;
  width: 7rem;
  position: absolute;
}

.s-artista1 {
  top: 105.6rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.s-musica {
  top: 106.7rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.spotify {
  width: 4.5rem;
  border-radius: 2.25rem;
  top: -5rem;
  left: -25%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.spotify:hover {
  transform: scale(1.03);
}

.s-spotify {
  color: #fff;
  top: 102rem;
  left: 48%;
  position: absolute;
}

.h-headbanger {
  top: 95rem;
  left: 62.7%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.h-headbanger:hover {
  color: #fff;
}

.img_headbanger {
  top: 98rem;
  left: 62%;
  width: 8rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.img_headbanger:hover {
  transform: scale(1.03);
}

.s-playlist {
  top: 106.9rem;
  left: 65%;
  color: #fff;
  position: absolute;
}

.rollingstone {
  top: 112rem;
  left: 28%;
  width: 15rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.rollingstone:hover {
  transform: scale(1.03);
}

.tmdqa {
  top: 118.5rem;
  left: 28%;
  width: 12rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.tmdqa:hover {
  transform: scale(1.02);
}

.ultimo_disco {
  top: 110rem;
  left: 60.7%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ultimo_disco:hover {
  color: #fff;
}

.last_disc {
  top: 113.8rem;
  left: 59%;
  width: 10.5rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.last_disc:hover {
  transform: scale(1.03);
}

.s-artista {
  top: 125rem;
  left: 59%;
  color: #fff;
  position: absolute;
}

.s-disc_name {
  top: 126rem;
  left: 59%;
  color: #fff;
  position: absolute;
}

.tres {
  height: 220vh;
  width: 100vw;
}

.manga {
  top: 135rem;
  left: 43.5%;
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.manga:hover {
  color: #fff;
}

.banner {
  width: 60rem;
  top: 142rem;
  left: 0;
  position: absolute;
}

.mangalivre {
  top: 181rem;
  left: 42.2%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.mangalivre:hover {
  transform: scale(1.03);
}

.s-mangalivre {
  top: 186rem;
  left: 42.2%;
  color: #fff;
  position: absolute;
}

.yes_mangas {
  top: 181rem;
  left: 52.6%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.yes_mangas:hover {
  transform: scale(1.03);
}

.s-yes_mangas {
  top: 186rem;
  left: 52.2%;
  color: #fff;
  position: absolute;
}

.mangas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

.berserk {
  width: 12rem;
  top: 190rem;
  left: 34%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.berserk:hover {
  transform: scale(1.03);
}

.claymore {
  width: 12rem;
  top: 191.5rem;
  left: 52%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.claymore:hover {
  transform: scale(1.03);
}

.snk {
  width: 12rem;
  top: 201rem;
  left: 34%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.snk:hover {
  transform: scale(1.03);
}

.kny {
  width: 12rem;
  top: 196.7rem;
  left: 52%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.kny:hover {
  transform: scale(1.03);
}

.cdz {
  width: 12rem;
  top: 209rem;
  left: 34%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.cdz:hover {
  transform: scale(1.03);
}

.rurouni_kenshin {
  width: 12rem;
  top: 209rem;
  left: 52%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.rurouni_kenshin:hover {
  transform: scale(1.03);
}

.quatro {
  height: 100vh;
  width: 100vw;
}

.anime {
  z-index: 999;
  left: 45%;
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.anime:hover {
  color: #fff;
}

.superanimes {
  z-index: 999;
  top: 240rem;
  left: 47.5%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.superanime:hover {
  transform: scale(1.03);
}

.s-superanimes {
  z-index: 999;
  top: 245rem;
  left: 46.5%;
  color: #fff;
  position: absolute;
}

.mirai {
  width: 23rem;
  top: 226rem;
  left: 55%;
  position: absolute;
}

.continue {
  font-size: 1.4rem;
  top: 226rem;
  left: 17%;
  position: absolute;
}

.watching1 {
  top: 230rem;
  left: 11%;
  width: 14rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.watching1:hover {
  transform: scale(1.03);
}

.watching2 {
  top: 230rem;
  left: 29%;
  width: 14rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.watching2:hover {
  transform: scale(1.03);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #122549;
}
