* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Fixed Header */

.cabecalho {
  z-index: 10;
  background: #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100vw;
}

.cabecalho--fixo {
  width: 100vw;
  height: 3.7rem;
  top: 0%;
  left: 0;
  position: fixed;
  box-shadow: 0px 0px 0px 1px #00131a;
}

/* Logo */

.cabecalho .logo {
  width: 8.5rem;
  top: 1em;
  left: 9rem;
  position: absolute;
}

.i1 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 45%;
  position: absolute;
}

.i2 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 50%;
  position: absolute;
}

.i3 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 55%;
  position: absolute;
}

.i4 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 60%;
  position: absolute;
}

#searchform {
  position: absolute;
  top: 0.9rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  border: none;
}
#s {
  width: 17rem;
  height: 2rem;
  background: #fff;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  font-size: 0.9rem;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.btn-google {
  position: absolute;
  left: -2.5rem;
  top: 0;
  background: #fff;
  border: 1px solid #fff;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  box-shadow: 0 0 0 0;
  outline: 0;
  border-radius: 1.5rem 0 0 1.5rem;
}

.menu-container a {
  text-decoration: none;
}

.menu-container ul {
  list-style: none;
}

.menu-container .menu {
  width: 2.5rem;
  position: absolute;
  top: 1.2rem;
  left: 73rem;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.menu-container input[type="checkbox"] {
  display: none;
}

.menu-container nav {
  position: absolute;
  top: 3.7rem;
  right: -21.8rem;
  background-color: #000000;
  width: 10rem;
  height: 37.55rem;
  transition: all 500ms ease-in-out;
}

.menu-container input[type="checkbox"]:checked ~ nav {
  transform: translateX(-21.8rem);
}

.menu-container .select {
  font-size: 3rem;
  margin-top: -1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.menu-container span {
  font-size: 2rem;
  display: block;
  cursor: pointer;
  padding: 0.6rem 4rem;
  transition: all 300ms ease-in-out;
}

.menu-container span:hover {
  background-color: #00131a;
  padding: 0.6rem 4.1rem;
}

.menu-container label {
  padding: 0.9rem;
  position: absolute;
  top: 0.03rem;
  left: 0;
  z-index: 1;
}

body {
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#122549),
    to(#ff7c60)
  );
  overflow-x: hidden;
}

.um {
  height: 100vh;
  width: 100vw;
}

#dia {
  font-size: 2.4rem;
  font-weight: 600;
  top: 5rem;
  left: 9rem;
  position: absolute;
  visibility: hidden;
}

.saudacao {
  font-size: 1.3rem;
  color: #fff;
  top: 7.8rem;
  left: 9.2rem;
  position: absolute;
  visibility: hidden;
}

q {
  color: #fff;
  left: 16%;
  top: 14.5rem;
  position: absolute;
  font-size: 1.4rem;
  font-style: italic;
}

p {
  color: #000000;
  top: 18.5rem;
  left: 20%;
  font-size: 1.2rem;
  position: absolute;
}

.puck {
  position: absolute;
  width: 5.7rem;
  top: 7rem;
  right: 15rem;
}

.puck1 {
  position: absolute;
  width: 8rem;
  top: 10rem;
  right: 28rem;
}

.guts {
  position: absolute;
  width: 17rem;
  top: 13rem;
  left: 60%;

  transition: all 0.5s ease-in-out;
}

.guts:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.gmail {
  position: absolute;
  width: 5rem;
  top: 29rem;
  left: 9rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.gmail:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.gfotos {
  position: absolute;
  width: 5rem;
  top: 29rem;
  left: 16rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.gfotos:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.dois {
  height: 215vh;
  width: 100vw;
}

.musica {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.musica:hover {
  color: #fff;
}

.ozzy {
  width: 33rem;
  top: 47rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);

  position: absolute;
  transition: all 0.5s ease-in-out;
}

.top3 {
  top: 73rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #000000;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.top3:hover {
  color: #fff;
}

.ana {
  top: 39.5rem;
  left: 31rem;
  width: 7rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.ana:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.ozzy1 {
  top: 29.5rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  width: 7rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.ozzy1:hover {
  width: 7.1rem;
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.mon {
  top: 80.5rem;
  right: 30.5rem;
  width: 7rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.mon:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.a_mais {
  top: 90rem;
  left: 28%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.a_mais:hover {
  color: #fff;
}

.mais_ouvida {
  top: 93rem;
  left: 28%;
  width: 7rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.mais_ouvida:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.s-artista1 {
  top: 100.6rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.s-musica {
  top: 101.7rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.spotify {
  width: 4.5rem;
  border-radius: 2.25rem;
  top: -5rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.s-spotify {
  color: #fff;
  top: 99rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
}

.h-headbanger {
  top: 90rem;
  left: 53.5rem;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.h-headbanger:hover {
  color: #fff;
}

.img_headbanger {
  top: 93rem;
  left: 53rem;
  width: 8rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.img_headbanger:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.s-playlist {
  top: 101.9rem;
  left: 55.5rem;
  color: #fff;
  position: absolute;
}

.rollingstone {
  top: 107rem;
  left: 50rem;
  width: 15rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.rollingstone:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.tmdqa {
  top: 113.5rem;
  left: 50rem;
  width: 12rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.tmdqa:hover {
  transform: scale(1.02);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.ultimo_disco {
  top: 105rem;
  left: 28%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.ultimo_disco:hover {
  color: #fff;
}

.last_disc {
  top: 108rem;
  left: 28%;
  width: 10.5rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.last_disc:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.5rem 0 0.5rem #000000);
}

.s-artista {
  top: 119rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.s-disc_name {
  top: 120rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.tres {
  height: 220vh;
  width: 100vw;
}

.manga {
  top: 135rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.manga:hover {
  color: #fff;
}

.banner {
  width: 60rem;
  top: 142rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
}

.mangalivre {
  top: 181rem;
  left: 42.2%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.mangalivre:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.s-mangalivre {
  top: 186rem;
  left: 42.2%;
  color: #fff;
  position: absolute;
}

.yes_mangas {
  top: 181rem;
  left: 52.6%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.yes_mangas:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.s-yes_mangas {
  top: 186rem;
  left: 52.2%;
  color: #fff;
  position: absolute;
}

.mangas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

.berserk {
  width: 12rem;
  top: 190rem;
  left: 34%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.berserk:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.claymore {
  width: 12rem;
  top: 191.5rem;
  left: 52%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.claymore:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.snk {
  width: 12rem;
  top: 201rem;
  left: 34%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.snk:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.kny {
  width: 12rem;
  top: 196.7rem;
  left: 52%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.kny:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.cdz {
  width: 12rem;
  top: 209rem;
  left: 34%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.cdz:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.rurouni_kenshin {
  width: 12rem;
  top: 209rem;
  left: 52%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.rurouni_kenshin:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.quatro {
  height: 100vh;
  width: 100vw;
}

.anime {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.anime:hover {
  color: #fff;
}

.superanimes {
  top: 240rem;
  left: 47.5%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.superanime:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.s-superanimes {
  top: 245rem;
  left: 46.5%;
  color: #fff;
  position: absolute;
}

.mirai {
  width: 23rem;
  top: 226rem;
  left: 55%;
  position: absolute;
}

.continue {
  font-size: 1.4rem;
  top: 226rem;
  left: 17%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.continue:hover {
  color: #fff;
}

.watching1 {
  top: 230rem;
  left: 11%;
  width: 14rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.watching1:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.watching2 {
  top: 230rem;
  left: 29%;
  width: 14rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.watching2:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.cinco {
  width: 100vw;
  height: 150vh;
}

.movies {
  top: 264rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.movies:hover {
  color: #fff;
}

.camera {
  top: 271rem;
  left: 10%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.camera:active {
  top: 273rem;
  left: 20%;
  z-index: 999;
  transform: scale(1.5);
}

.netflix {
  top: 270rem;
  left: 49%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.netflix:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.s-netflix {
  top: 275rem;
  left: 50.1%;
  color: #fff;
  position: absolute;
}

.topflix {
  top: 277rem;
  left: 49%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.topflix:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.s-topflix {
  top: 282rem;
  left: 50.1%;
  color: #fff;
  position: absolute;
}

.stremio {
  top: 284rem;
  left: 49%;
  width: 4.5rem;
  border-radius: 2.25rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.stremio:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.s-stremio {
  top: 288.8rem;
  left: 49.6%;
  color: #fff;
  position: absolute;
}

.proximo {
  font-size: 1.4rem;
  top: 270rem;
  left: 66%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.proximo:hover {
  color: #fff;
}

.c-filme {
  top: 273.5rem;
  right: 15.7rem;
  width: 14rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.c-filme:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.continue2 {
  font-size: 1.4rem;
  top: 294rem;
  left: 17rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.continue2:hover {
  color: #fff;
}

.serie1 {
  top: 298rem;
  left: 10rem;
  width: 14rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.serie1:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.serie2 {
  top: 298rem;
  left: 26.5rem;
  width: 14rem;
  height: 21rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.serie2:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.serie3 {
  top: 298rem;
  left: 43rem;
  width: 14rem;
  height: 21rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.serie3:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.serie4 {
  top: 298rem;
  left: 59.5rem;
  width: 14rem;
  height: 21rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.serie4:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.seis {
  height: 120vh;
}

.channels {
  top: 326rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.channels:hover {
  color: #fff;
}

.tv {
  width: 37rem;
  height: 17rem;
  top: 332rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
  transition: all 1s ease-in-out;
}

.tv:hover {
  border: 8.5rem solid black;
}

.youtube {
  width: 13rem;
  top: 339rem;
  left: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.youtube:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.multicanais {
  width: 20rem;
  top: 339.4rem;
  left: 24.4rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.multicanais:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.megacanais {
  width: 15rem;
  top: 338.5rem;
  left: 45.9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.megacanais:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.twich {
  width: 7rem;
  top: 337rem;
  right: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.twich:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.warner {
  width: 7rem;
  top: 352rem;
  left: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.warner:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.amc {
  width: 7rem;
  top: 354rem;
  left: 20rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.amc:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.sony {
  width: 7rem;
  top: 352rem;
  left: 31.5rem;
  border-radius: 0.7rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.sony:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.tcp {
  width: 12rem;
  top: 354rem;
  left: 41.5rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.tcp:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.tnt {
  width: 7rem;
  top: 352rem;
  left: 57rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.tnt:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.warner:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.cn {
  width: 8rem;
  top: 353.6rem;
  right: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.cn:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.espn {
  width: 10rem;
  top: 363.5rem;
  left: 22rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.espn:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.foxsports {
  width: 10rem;
  top: 362rem;
  left: 37.5rem;
  border-radius: 55%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.foxsports:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.sportv {
  width: 10rem;
  top: 364.1rem;
  left: 53rem;
  border-radius: 0.3rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.sportv:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.sete {
  height: 125vh;
}

.football {
  font-size: 2rem;
  top: 375rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.football:hover {
  color: #fff;
}

.ronaldo {
  width: 33rem;
  top: 380.5rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
  border: 0.45rem solid #000000;
}

.libertadores {
  width: 12rem;
  top: 383rem;
  left: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.libertadores:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.uefa {
  width: 12rem;
  top: 383rem;
  right: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.uefa:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.gremio {
  width: 16rem;
  top: 398rem;
  left: 34.5rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.gremio:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.milan {
  width: 5rem;
  top: 398rem;
  left: 9rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.milan:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.liverpool {
  width: 6rem;
  top: 400rem;
  left: 24rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.liverpool:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.penarol {
  width: 17.5rem;
  top: 399.5rem;
  left: 49rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.penarol:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.st-pauli {
  width: 7.5rem;
  top: 400.7rem;
  right: 9rem;
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.st-pauli:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.ole {
  position: absolute;
  left: 9rem;
  top: 413rem;
  width: 7rem;
  transition: all 0.5s ease-in-out;
}

.ole:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.placar {
  position: absolute;
  left: 18rem;
  top: 413rem;
  width: 7rem;
  transition: all 0.5s ease-in-out;
}

.placar:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.ff {
  position: absolute;
  left: 27rem;
  top: 413.2rem;
  width: 10rem;
  transition: all 0.5s ease-in-out;
}

.ff:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.fft {
  position: absolute;
  left: 40rem;
  top: 413.2rem;
  width: 9.2rem;
  transition: all 0.5s ease-in-out;
}

.fft:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.as {
  position: absolute;
  left: 51.4rem;
  top: 413.1rem;
  width: 9.5rem;
  transition: all 0.5s ease-in-out;
}

.as:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.gazetta {
  position: absolute;
  right: 9rem;
  top: 413.6rem;
  width: 13rem;
  transition: all 0.5s ease-in-out;
}

.gazetta:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

.oito {
  width: 100vw;
  height: 100vh;
}

.news {
  font-size: 2rem;
  top: 426rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.news:hover {
  color: #fff;
}

.start {
  font-size: 1.8rem;
  top: 460.5rem;
  left: 82rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.start:hover {
  transform: scale(1.03);
  filter: drop-shadow(0.3rem 0 0.3rem #000000);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #122549;
}
