* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Fixed Header */

.cabecalho {
  z-index: 10;
  background: #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100vw;
}

.cabecalho--fixo {
  width: 100vw;
  height: 3.7rem;
  top: 0%;
  left: 0;
  position: fixed;
  box-shadow: 0px 0px 0px 1px #00131a;
}

/* Logo */

.cabecalho .logo {
  width: 9.3rem;
  top: 1em;
  left: 10%;
  position: absolute;
}

.i1 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 45%;
  position: absolute;
}

.i2 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 50%;
  position: absolute;
}

.i3 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 55%;
  position: absolute;
}

.i4 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 0.8rem;
  left: 60%;
  position: absolute;
}

.lupa {
  width: 1.7rem;
  top: 1rem;
  left: 86%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.lupa:hover {
  transform: scale(1.1);
}

body {
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#122549),
    to(#ff7c60)
  );
  overflow-x: hidden;
}

.um {
  height: 100vh;
  width: 100vw;
}

#dia {
  font-size: 2.5rem;
  font-weight: 600;
  top: 5rem;
  left: 10%;
  position: absolute;
  visibility: hidden;
}

.saudacao {
  font-size: 1.3rem;
  color: #fff;
  top: 8rem;
  left: 10.4%;
  position: absolute;
  visibility: hidden;
}

.weather {
  position: absolute;
  top: 5rem;
  left: 87%;
  color: #000000;
  text-align: left;
  text-align: right;
}

q {
  color: #fff;
  left: 16%;
  top: 14.5rem;
  position: absolute;
  font-size: 1.4rem;
  font-style: italic;
}

p {
  color: #000000;
  top: 18.5rem;
  left: 20%;
  font-size: 1.2rem;
  position: absolute;
}

.guts {
  position: absolute;
  width: 17rem;
  top: 13rem;
  left: 60%;
  transition: all 0.3s ease-in-out;
}

.guts:hover {
  transform: scale(1.05);
}

.dois {
  height: 215vh;
  width: 100vw;
}

.musica {
  left: 44%;
  color: #000000;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.musica:hover {
  color: #fff;
}

.ozzy {
  width: 33rem;
  left: 30%;
  top: 47rem;
  position: absolute;
}

.top3 {
  top: 73rem;
  left: 46.5%;
  color: #000000;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.top3:hover {
  color: #fff;
}

.ana {
  top: 41.2rem;
  left: 4%;
  width: 5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ana:hover {
  transform: scale(1.03);
}

.ozzy1 {
  top: 26rem;
  left: 43%;
  width: 6rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ozzy1:hover {
  transform: scale(1.03);
}

.mon {
  top: 16.2rem;
  right: 13%;
  width: 5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.mon:hover {
  transform: scale(1.03);
}

.a_mais {
  top: 95rem;
  left: 28%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.a_mais:hover {
  color: #fff;
}

.mais_ouvida {
  top: 98rem;
  left: 28%;
  width: 7rem;
  position: absolute;
}

.s-artista1 {
  top: 105.6rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.s-musica {
  top: 106.7rem;
  left: 28%;
  color: #fff;
  position: absolute;
}

.spotify {
  width: 4.5rem;
  border-radius: 2.25rem;
  top: -5rem;
  left: -25%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.spotify:hover {
  transform: scale(1.03);
}

.s-spotify {
  color: #fff;
  top: 102rem;
  left: 48%;
  position: absolute;
}

.h-headbanger {
  top: 95rem;
  left: 62.7%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.h-headbanger:hover {
  color: #fff;
}

.img_headbanger {
  top: 98rem;
  left: 62%;
  width: 8rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.img_headbanger:hover {
  transform: scale(1.03);
}

.s-playlist {
  top: 106.9rem;
  left: 65%;
  color: #fff;
  position: absolute;
}

.rollingstone {
  top: 112rem;
  left: 28%;
  width: 15rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.rollingstone:hover {
  transform: scale(1.03);
}

.tmdqa {
  top: 118.5rem;
  left: 28%;
  width: 12rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.tmdqa:hover {
  transform: scale(1.02);
}

.ultimo_disco {
  top: 110rem;
  left: 60.7%;
  color: #000000;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ultimo_disco:hover {
  color: #fff;
}

.last_disc {
  top: 113.8rem;
  left: 59%;
  width: 10.5rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.last_disc:hover {
  transform: scale(1.03);
}

.s-artista {
  top: 125rem;
  left: 59%;
  color: #fff;
  position: absolute;
}

.s-disc_name {
  top: 126rem;
  left: 59%;
  color: #fff;
  position: absolute;
}

.tres {
  height: 220vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #122549;
}

@media (max-width: 414px) {
  .cabecalho .logo {
    width: 8.5rem;
    top: 1em;
    left: 4%;
  }

  .logo {
    width: 8rem;
    top: 1em;
  }

  .i1 {
    visibility: hidden;
  }

  .i2 {
    visibility: hidden;
  }

  .i3 {
    visibility: hidden;
  }

  .i4 {
    visibility: hidden;
  }

  .lupa {
    width: 1.5rem;
    left: 89%;
  }

  .um {
    height: 100vh;
  }

  #dia {
    top: 4.5rem;
    left: 4%;
    font-size: 1.9rem;
  }

  .saudacao {
    top: 7rem;
    left: 5%;
    font-size: 1.2rem;
  }

  .weather {
    top: 5rem;
    left: 93%;
    font-size: 0.8rem;
  }

  q {
    left: 7.2%;
    top: 12rem;
    font-size: 1.1rem;
  }

  p {
    top: 15.3rem;
    left: 15.5%;
    font-size: 1rem;
  }

  .guts {
    width: 14rem;
    top: 26rem;
    left: 38%;
  }

  .dois {
    height: 200vh;
  }

  .musica {
    top: 52rem;
    left: 32%;
  }

  .ozzy {
    width: 25.8rem;
    top: 57rem;
    left: 0;
  }

  .top3 {
    font-size: 1.6rem;
    top: 78rem;
    left: 40%;
  }

  .ana {
    top: 35.7rem;
    left: 4%;
    width: 7.5rem;
  }

  .ozzy1 {
    top: 24.5rem;
    left: 35%;
    width: 8rem;
  }

  .mon {
    top: 17.6rem;
    left: 68%;
    width: 7rem;
  }

  .a_mais {
    font-size: 1.4rem;
    top: 95rem;
    left: 4%;
  }

  .mais_ouvida {
    top: 98rem;
    left: 4%;
    width: 5.5rem;
  }

  .s-artista1 {
    top: 104.2rem;
    left: 4%;
  }

  .s-musica {
    top: 105.2rem;
    left: 4%;
  }

  .spotify {
    top: -5.3rem;
    margin-left: 0.1rem;
  }

  .s-spotify {
    top: 102.8rem;
    left: 44%;
  }

  .h-headbanger {
    font-size: 1.4rem;
    top: 95rem;
    left: 60%;
  }

  .img_headbanger {
    top: 98rem;
    left: 73%;
    width: 5.5rem;
  }

  .s-playlist {
    top: 104.5rem;
    left: 77%;
  }

  .rollingstone {
    top: 129.5rem;
    left: 8%;
    width: 12rem;
  }

  .tmdqa {
    top: 136rem;
    left: 12%;
    width: 10rem;
  }

  .ultimo_disco {
    font-size: 1.5rem;
    top: 111rem;
    left: 40%;
  }

  .last_disc {
    top: 113rem;
    left: 40%;
    width: 10rem;
  }

  .s-artista {
    top: 117.7rem;
    left: 40%;
  }

  .s-disc_name {
    top: 118.7rem;
    left: 40%;
  }

  .tres {
    height: 120vh;
  }
}
